<!DOCTTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Contact CRM  </title>
	</head>
	<body>
		<h1>Welcome to <%= @crm_app_name %>!</h1>
		<ul>
		  <li><a href="/contacts">View all contacts</a></li>
		  <!-- please complete me with links to other actions -->
		</ul>
		<hr>
		<%= @title %>
		<%= @server_time %>
		</hr>
		<hr>
		</hr>
		<h2>wohoo</h2>
		<h1>Create new Contact</h1>
			<form action='/contacts' method='post'>
			  <input type='text' name='first_name'>
			  <input type='text' name='last_name'>
			  <input type='text' name='email'>
			  <input type='text' name='note'>
			  <input type='submit' value='New Contact'>
			</form>
	</body>
</html>
