<div class="section2">
	<h2>There are 5 contacts</h2>
</div>
<div class="section3">
	<img src="http://img.scoop.it/9Du-gn273E4h9-r-YIHqSTl72eJkfbmt4t8yenImKBVvK0kTmF0xjctABnaLJIm9" align ="middle" style="width:600px;height:600px;">
</div>
