<div class="section2">
	<h2>There are 5 contacts</h2>
</div>
<div class="section3">
		<h2>Marty Mcfly</h2>
</div>
<div class="section3">
	<h2>Tyrion Lannister </h2>
	<a>Edit </a>
	<a>Delete</a>
</div>
<div class="section3">
	<h2> John Snow </h2>
	<h4>Edit </h4>
	<h4>Delete</h4>
</div>
<div class="section3">
	<h2>Oberon Martel </h2>
	<h4>Edit </h4> <h4>Delete</h4>
	<img src="http://img.scoop.it/9Du-gn273E4h9-r-YIHqSTl72eJkfbmt4t8yenImKBVvK0kTmF0xjctABnaLJIm9" alt= HTML 5 ICON
style="width:128px;height:128px;">
</div>
