<!DOCTTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> IMDB </title>
	</head>
	<body>
		<p>Main menu</p>
		<ul>
		  <li><a href="/contacts">View all contacts</a></li>
		  <!-- please complete me with links to other actions -->
		</ul>
		<hr>
		<%= @title %>
		<%= @server_time %>
		wohoo
		<hr>
	</body>
</html>
